ul {
    list-style: none;
    padding-left: 0;
}

p {
    font-size: 0.75rem;
}

.list-heading {
    font-size: 1.25rem;
}

input {
    margin-left: 1%;
}

#search-form {
    padding-bottom: 1%;
}

#hello-message {
    text-align: center;
    width: 100%;
    /* height: 100%; */
    padding-top: 5%;
}

#hello-message>p {
    width: 60%;
    font-size: 1rem;
}